{
  "root": true,
  "extends": "@react-native-community",
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "styled-components/native",
            "importNames": ["default"],
            "message": "Please use styled from '@definitions/styled' instead."
          }
        ]
      }
    ]
  }
}
